<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <!-- Agrega cualquier CSS necesario aquí -->
</head>

<body>
    <div class="container">
        <label for="psw"><b>Nueva contraseña</b></label>
        <input type="password" id="password" placeholder="Ingresa la nueva contraseña" required>
        <button onclick="actualizarContraseña()">Actualizar contraseña</button>
    </div>

    <!-- Agrega cualquier JavaScript necesario aquí -->
    <script>
        function actualizarContraseña() {
            var urlParams = new URLSearchParams(window.location.search);
            var token = urlParams.get('token'); // Obtener el token de la URL
            var nuevaContraseña = document.getElementById("password").value;

            // Objeto con los datos a enviar en la solicitud, incluyendo el token
            var data = {
                token: token,
                password: nuevaContraseña
            };

            // Configurar la solicitud AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/api/actualizar-password/" + token, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            // Manejar la respuesta de la solicitud AJAX
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("Contraseña actualizada correctamente");
                    } else {
                        alert("Hubo un error al actualizar la contraseña");
                    }
                }
            };

            // Enviar la solicitud con los datos en formato JSON
            xhr.send(JSON.stringify(data));
        }


    </script>
</body>

</html>